/* header */
.menu-header{
    height: 40px;
    width: 100%;
    background-color: rgb(64, 141, 224);
    position: fixed;
    top: 0px;
}

.login-button{
    display: inline-block;
    right: 40px;
    margin-top: 10px;
    position: absolute;
}

.logout-button{
    display: inline-block;
    right: 100px;
    margin-top: 10px;
    position: absolute;
}

.goto-signup-button{
    display: inline-block;
    right: 40px;
    margin-top: 10px;
    position: absolute;
}

.home-icon{
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
    display: inline-block;
}

.goto-moderator-button{
    display: inline-block;
    right: 110px;
    margin-top: 10px;
    position: absolute;
}

#base-messages{
    margin-top: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

/* Common */
body{
    margin: 0;
    background-color: rgb(232, 232, 232);
}

#button{
    background-color: rgb(64, 141, 224);
    border-radius: 6px;
    color: aliceblue;
}

#button:hover {
  background-color: white; 
  color: rgb(64, 141, 224);
  border-color: rgb(64, 141, 224);
}
.clearfix{
    clear:both;
}
.center{
    text-align: center;
}
.float-left{
    float: right;
}
.float-right{
    float: right;
}
.width-50{
    width:50%;
}
.small-margin-bottom{
    margin-bottom: 20px;
}
.small-margin-left{
    margin-left:30px;
}
.small-margin-top{
    margin-top:20px;
}
.red{
    color:red;
}


/* Home */
.home-filter{
    overflow: auto;
    background-size: cover;
    margin-left: 35%;
    width: 25%;
    background-position: center center;
    background-color: white;
    margin-top: 70px;
    padding:0;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-part-one{
    width: 100%;
    text-align: center;
}

.filter-part-two{
    text-align: center;
    margin-bottom:10px;
}

#buttons{
    margin-left:43%;
    margin-bottom: 20px;
}

.posts{
    margin-left: 10%;
    width: 80%;
    background-position: center center;
    background-color: white;
    padding:0;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    
}

#post-heading{
    font-size: 25px;
    float:left;
}

.post-with-button{
    margin-left: 10%;
}

#flush-new-post-button{
    margin-top: 20px;
    float:right;
    margin-right: 10%;
}

#new-post-button{
    margin-right: 5%;
    background-color: rgb(64, 141, 224);
    border-radius: 6px;
    color: aliceblue;
}

table{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    overflow-y:auto;
    height: 350px;
    display: block;
    padding-top: 0px;
}

td a { 
   display: block; 
   padding-left: 30px; 
   text-decoration: none;
   color: grey;
}

#post-title{
    width: 70%;
}
#post-user{
    width: 14.4%;
}
#post-date{
    width: 15.6%;
}

.post-table:hover{
    background: rgb(192, 219, 252); 
}

td{
    height: 50px;
}

#post-header{
    background-color: rgb(72, 148, 230);
    overflow: auto;
    padding-left: 30px;
    color: rgb(45, 45, 45);
}

#post-title-header{
    width: 70%;
    float:left;
}
#post-user-header{
    width: 15%;
    float:left;
}
#post-date-header{
    width: 15%;
    float:left;
}

/* detailed view */

.detailed{
    padding-top: 100px;
    display: inline-flex;
    width: 100%;
}

.detailed-left{
    margin-left: 50px;
    width: 65%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    min-height: 550px;
    overflow: auto;
    margin-bottom: 40px;
}

.detailed-right{
    margin-left: 40px;
    margin-right: 30px;
    height: 550px;
    width: 35%;
}

#detail-left-left{
    float: right;
    margin-right: 5%;
    margin-top: 40px;
    font-size: small;
}

#detail-left-left-top{
    padding-bottom: 5px;
}

.comment_form{
    padding:10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.detailed-comments{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y:auto;
    height: 390px;
    background-color: white; 
}

.detailed-post{
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
}

#detailed-comment-body{
    padding-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: small;
}

#detailed-comment-user{
    margin-left: 80%;
    font-size: small;
    padding-bottom: 10px;
}
.comment{
    background-color: white;
    padding: 0;
}

.comment:nth-child(even){
    background-color: rgb(232, 232, 232);
}

/* edit view + create view*/

.post-form{
    overflow: auto;
    margin-top: 80px;
    margin-left: 25%;
    width: 50%;
    background-position: center center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#post-align{
    margin-top: 30px;
    margin-left: 7%;
}

#edit-form-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 78%;
}

#new-form-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 88%;
}

#template-download{
    margin-left: 80%;
    background-color: rgb(64, 141, 224);
    border-radius: 6px;
}

#template-download a{
    text-decoration: none;
    color: aliceblue;
}

#multi-upload-outer{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 75%;
}

#multi-upload-inner{
    margin-left: 55px;
}

/* user login */

.login-user{
    overflow: auto;
    margin-top: 15%;
    margin-left: 35%;
    width: 30%;
    background-position: center center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    text-align: center;
}

#user-login-button{
    margin-bottom: 10px;
}

/* signup view */

.signup{
    overflow: auto;
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    background-position: center center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

/* moderator view */

.moderator-filter{
    overflow: auto;
    background-size: cover;
    margin-left: 33%;
    width: 35%;
    background-position: center center;
    background-color: white;
    margin-top: 70px;
    padding:0;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 35px;
}

#moderator-post-title{
    border-left:10px;
    width: 60%;
}

#moderator-post-user{
    width: 15%;
}
#moderator-post-trash{
    width: 10%;
}

#moderator-post-title-header{
    width: 60%;
    float:left;
}
#moderator-post-user-header{
    width: 15%;
    float:left;
}
#moderator-post-trash-header{
    width: 12%;
    float:left;
}
#moderator-post-button{
    margin-top: 20px;
    float:right
}
.moderator-comments{
    margin-left: 15%;
    width: 70%;
    background-position: center center;
    background-color: white;
    padding:0;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

#comment-header{
    background-color: rgb(72, 148, 230);
    overflow: auto;
    padding-left: 30px;
    color: rgb(45, 45, 45);
}
#moderator-comment-title-header{
    width: 12%;
    float:left;
}
#moderator-comment-user-header{
    width: 14%;
    float:left;
}
#moderator-comment-trash-header{
    width: 12%;
    float:left;
}
#moderator-comment-desc-header{
    width: 60%;
    float:left;
}
#comment-table:hover{
    background: rgb(192, 219, 252); 
}

#moderator-comment-title{
    border-left:10px;
    width: 12%
}
#moderator-comment-body{
    width: 65%;
}
#moderator-comment-user{
    width: 15%;
}
#moderator-comment-trash{
    width: 12%;
}
#moderator-type-heading{
    margin-left:15%;
    font-size: 25px;
}