{% extends 'base_layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="home-filter">
    <form method="get">
        <div class="filter-part-one">
            <p>Title:{{ filter_form.title }}</p>
            <p >Author:{{ filter_form.user }}</p>
            <div class="clearfix"></div>
        </div>
        <div class="filter-part-two">
            <p> Date Range: </p>
            {{ filter_form.date_from }}
            {{ filter_form.date_to }}
        </div>
        <div id="buttons">
            <input id="button" type="submit" value="Search" name="filter">
        </div>
    </form>
</div>

<div class="post-with-button">
    <h2 id="post-heading">Posts</h2>
    <div id="flush-new-post-button">
        <a href="{% url 'post_new' %}">
            {% if user.is_authenticated %}
            <button id="new-post-button">New Post</button>
            {% else %}
            <button id="new-post-button">Login to post</button>
            {% endif %}
        </a>
    </div>
</div>
<div class="clearfix"></div>

<div class="posts">
    <div id="post-header">
        <p id="post-title-header">Title</p>
        <p id="post-user-header">Author</p>
        <p id="post-date-header">Last Modified</p>
    </div>

    <table CELLSPACING=0>
        {% for post in posts %}
        <tr class="post-table">
            <td id="post-title"><a href="{% url 'detailed' slug=post.slug %}">{{ post.title }}</a></td>
            <td id="post-user"><a href="{% url 'detailed' slug=post.slug %}">{{ post.user }}</a></td>
            <td id="post-date"><a href="{% url 'detailed' slug=post.slug %}">{{ post.last_modified }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}