{% extends 'base_layout.html' %}

{% block title %} Edit: {{ post.title }} {% endblock %}

{% block content %}
    <div class="post-form">
        <form method="post">
            {% csrf_token %}
            <p id="post-align">Title:</p>
            <div class="center">{{ form.title }}</div>
            {{ form.title.errors }}
            <p id="post-align">Desc: </p>
            <div class="center">{{ form.desc }}</div>
            <div id="edit-form-buttons">
                <input id="button" type="submit" name="update" value="Update">
                <input id="button" type="submit" name="delete" value="Delete">
            </div>
        </form>
    </div>
{% endblock %}