<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>

        {% if user.is_authenticated %}
            <form class="user_form" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout" name="logout">
            </form>
        {% endif %}

        <h1>This is the homepage</h1>

        <a href="{% url 'post_new' %}">
            {% if user.is_authenticated %}
                <button>New Post</button>
            {% else %}
                <button>Login to post</button>
            {% endif %}
        </a>

        <form class="filter_form" method="get">
            {{ form.user }}
            {{ form.title }}
            {{ form.date_from_day }}
            {{ form.date_from_month }}
            {{ form.date_from_year }}
            {{ form.date_to_day }}
            {{ form.date_to_month }}
            {{ form.date_to_year }}
            <input type="submit" value="Search">
        </form>

        <a href="{% url 'home' %}">
            <button>See All</button>
        </a>

        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{% url 'detailed' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p>{{ post.desc }}</p>
                    <p>{{ post.user }}</p>
                    <p>{{ post.is_trashed }}</p>
                    <p>{{ post.last_modified }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>