{% extends 'base_layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="home-filter">
    <form method="get">
        <div class="filter-parts">
            <div class="filter-part-1">
                <p id="title-filter">Title:{{ filter_form.title }}</p>
                <p id="user-filter">Author:{{ filter_form.user }}</p>
            </div>
            <div class="filter-part-2">
                <p>From</p>
                <p id="user-filter">Day:{{ filter_form.date_from_day }}</p>
                <p id="user-filter">Month:{{ filter_form.date_from_month }}</p>
                <p id="user-filter">Year:{{ filter_form.date_from_year }}</p>
            </div>
            <div class="filter-part-3">
                <p>To</p>
                <p id="user-filter">Day:{{ filter_form.date_to_day }}</p>
                <p id="user-filter">Month:{{ filter_form.date_to_month }}</p>
                <p id="user-filter">Year:{{ filter_form.date_to_year }}</p>
            </div>
        </div>
        <div id="buttons">
            <input id="button" type="submit" value="Search">
        </div>
    </form>
</div>

<div class="post-with-button">
    <h2 id="post-heading">Posts</h2>
    <a href="{% url 'post_new' %}">
        {% if user.is_authenticated %}
        <button id="new-post-button">New Post</button>
        {% else %}
        <button id="new-post-button">Login to post</button>
        {% endif %}
    </a>
</div>

<div class="posts">
    <div id="post-header">
        <p id="post-title-header">Title</p>
        <p id="post-user-header">Author</p>
        <p id="post-date-header">Last Modified</p>
    </div>

    <table CELLSPACING=0>
        {% for post in posts %}
        <tr class="post-table">
            <td id="post-title"><a href="{% url 'detailed' slug=post.slug %}">{{ post.title }}</a></td>
            <td id="post-user"><a href="{% url 'detailed' slug=post.slug %}">{{ post.user }}</a></td>
            <td id="post-date"><a href="{% url 'detailed' slug=post.slug %}">{{ post.last_modified }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}