{% extends 'base_layout.html' %}

{% block title %} Moderator Page {% endblock %}

{% block content %}

    {% if user.is_superuser %}
        <div class="moderator-filter">
            <form method="get">
                <p>Author: {{ form.user }}</p>
                <p>Title: {{ form.title }}</p>
                <p> From </p>
                <p>Day: {{ form.date_from_day }}</p>
                <p>Month: {{ form.date_from_month }}</p>
                <p>Year: {{ form.date_from_year }}</p>
                <p> To </p>
                <p>Day: {{ form.date_to_day }}</p>
                <p>Month: {{ form.date_to_month }}</p>
                <p>Year: {{ form.date_to_year }}</p>
                <p>Is Deleted: {{ form.is_deleted }}</p>
                <p>To Search: {{ form.to_search }}</p>
                <input type="submit" value="Search" name="filter">
            </form>
        </div>

        <div class="posts">
            <div id="post-header">
                <p id="moderator-post-title-header">Title</p>
                <p id="moderator-post-user-header">Author</p>
                <p id="moderator-post-trash-header">Is_Deleted</p>
            </div>

            <table CELLSPACING=0>
                {% for post in posts %}
                <tr class="post-table">
                    <td id="moderator-post-title">{{ post.title }}</td>
                    <td id="moderator-post-user">{{ post.user }}</td>
                    <td id="moderator-post-trash">{{ post.is_trashed }}</td>
                    <td id="moderator-post-button">
                        {% if post.is_trashed == True %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input id="button" type="submit" name="recover" value="Recover">
                                </div>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input id="button" type="submit" name="delete" value="Delete">
                                </div>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="posts">
            <div id="post-header">
                <p id="post-title-header">Title</p>
                <p id="post-title-header">Comment</p>
                <p id="post-user-header">Author</p>
                <p id="post-date-header">Last Modified</p>
                <p id="post-date-header">Is_Deleted</p>
            </div>
        
            <table CELLSPACING=0>
                {% for comment in comments %}
                <tr class="post-table">
                    <td id="post-title">{{ comment.post.title }}</td>
                    <td id="post-title">{{ comment.body }}</td>
                    <td id="post-user">{{ comment.user }}</td>
                    <td id="post-date">{{ comment.last_modified }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}
        <h2> You are not a moderator </h2>
    {% endif %}

{% endblock %}