{% extends 'base_layout.html' %}

{% block title %} Edit: {{ post.title }} {% endblock %}

{% block content %}
    <div class="post-form">
        <form method="post">
            <div id="post-align">
                {% csrf_token %}
                <p>Title:</p>
                {{ form.title }}
                <p>Desc: </p>
                {{ form.desc }}
            </div>
            <div id="edit-form-buttons">
                <input id="button" type="submit" name="update" value="Update">
                <input id="button" type="submit" name="delete" value="Delete">
            </div>
        </form>
    </div>
{% endblock %}