{% extends 'base_layout.html' %}

{% block title %} Title: {{ post.title }} {% endblock %}

{% block content %}

    <div class="detailed">
        <div class="detailed-left">
            <div id="detail-left-left">
                <div id="detail-left-left-top">
                    <a href="{% url 'post_edit' slug=post.slug %}">
                        {% if is_post_user or user.is_superuser %}
                        <button id="button">Edit Post</button>
                        {% elif not user.is_authenticated %}
                        <button id="button">Login to edit</button>
                        {% endif %}
                    </a>
                </div>
                <p>Author: {{ post.user }}</p>
                <p>Last Modified: {{ post.last_modified }}</p>
            </div>
            <div class="detailed-post">
                <h1>{{ post.title }}</h1>
                <p>{{ post.desc }}</p>
            </div>
        </div>

        <div class="detailed-right">
            <div class="comment_form">
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.body }}
                    {{ comment_form.body.errors }}
                    {% if user.is_authenticated %}
                        <input id="button" type="submit" value="Comment">
                    {% else %}
                        <input id="button" type="submit" value="Login to comment">
                    {% endif %}
                </form>
            </div>
            <h3>Comments</h3>
            <div class="detailed-comments">
                {% for comment in comments %}
                <div class="comment">
                    <p id="detailed-comment-body">{{ comment.body }}</p>
                    <p id="detailed-comment-user">By:{{ comment.user }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}