{% extends 'base_layout.html' %}

{% block title %} New Post {% endblock %}

{% block content %}
    <div class="post-form">
        {% if messages %}
        <div id="post-align">
            <h3>Success:</h3>
            <ul class="messages">
                {% for message in messages %}
                    {% if "success" in message.tags %}
                    <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h3>Errors:</h3>
            <ul class="messages">
                {% for message in messages %}
                    {% if "invalid_data" in message.tags %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <p id="post-align">Title:</p>
            <div class="center">
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <p id="post-align">Desc: </p>
            <div class="center">
                {{ form.desc }}
            </div>
            <div id="new-form-buttons">
                <input id="button" type="submit" value="Create" name="single">
            </div>
        </form>
        <button id="template-download">
            <a href="/static/template.xlsx" download> Download Template </a>
        </button>
        <div id="multi-upload-outer">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ multi_upload.file }}
                <div id="multi-upload-inner">
                    <input id="button" type="submit" value="Multiple Upload" name="multiple">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

