{% extends 'base_layout.html' %}

{% block title %} New Post {% endblock %}

{% block content %}
    <div class="post-form">
        <form method="post">
            <div id="post-align">
                {% csrf_token %}
                <p>Title:</p>
                {{ form.title }}
                {{ form.title.errors }}
                <p>Desc: </p>
                {{ form.desc }}
            </div>
            <div id="new-form-buttons">
                <input id="button" type="submit" value="Create">
            </div>
        </form>
    </div>
{% endblock %}

