{% extends 'base_layout.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    <h3>{{ post.is_trashed }} </h3>

    <div class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.desc }}</p>
        <p>{{ post.user }}</p>
        <p>{{ post.last_modified }}</p>
        <p>{{ post.slug }}</p>
    </div>

        <a href="{% url 'post_edit' slug=post.slug %}">
            {% if is_post_user or is_superuser %}
                <button>Edit Post</button>
            {% elif not user.is_authenticated %}
                <button>Login to edit</button>
            {% endif %}
        </a>
    
    <div class="comments">
        {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.body }}</p>
            <p>{{ post.user }}</p>
        </div>
        {% endfor %}
    </div>
    <form class="comment_form" method="post">
        {% csrf_token %}
        {{ comment_form }}
        {% if user.is_authenticated %}
            <input type="submit" value="Comment">
        {% else %}
            <input type="submit" value="Login to comment">
        {% endif %}
    </form>
{% endblock %}