{% extends 'base_layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="login-user">
    <form method="post">
        {% csrf_token %}
        <div id="login-user-fields">
            <h3>Username:</h3>
            {{ form.username }}
            <h3>Password:</h3>
            {{ form.password }}
        </div>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <div id="user-login-button">
            <input id="button" type="submit" value="Login">
        </div>
    </form>
</div>

{% endblock %}