{% extends 'base_layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="signup">
    <form method="post">
        {% csrf_token %}
        <div class="small-margin-left small-margin-top">
        <p>Username: {{ form.username }}</p>
        {{ form.username.help_text }}
        <p>First Name: {{ form.first_name }}</p>
        {{ form.first_name.help_text }}
        <p>Last Name: {{ form.last_name }}</p>
        {{ form.last_name.help_text }}
        <p>Email: {{ form.email }}</p>
        {{ form.email.help_text }}
        <p>Password: {{ form.password1 }}</p>
        {{ form.password1.help_text }}
        <p>Password Reconfirmation: {{ form.password2 }}</p>
        {{ form.password2.help_text }}
        </div>
        <div class="center small-margin-top small-margin-bottom">
        <input id="button" type="submit" value="Create">
        </div>
    </form>

    
    {% if form.errors %}
    <div class="center small-margin-top red">
    {% for field in form %}
        {% for error in field.errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endfor %}
        {% for error in form.non_field_errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
    </div>
    {% endif %}
</div>
    
{% endblock %}